#header-bar {
    float: right;
    width: 20%;
    margin-top: 7%;
    margin-right: 12%;
}

#header-text{
    margin-top: 5%;
    margin-left: 15%;
    float: left;
}

#left {
    width:40px;
}

#middle{
    width:40px;
}

#right {
    width:40px;
}

#center{
    float: left;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 5%;
    padding: 1%;
}

#header-colors {
    height: 10%
}