#header-text {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background-color: #4aaaa5;
}

a {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    text-align: right;
}

#left {
    width:40px;
}

#middle{
    width:40px;
}

#right {
    width:40px;
}

/* #header-bar{

} */

#center {
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 15%;
    background-color: #ffffff;
}

#header-colors {
    background-color: #ffffff;
}

#header-text{
    background-color: #4aaaa5;
    color:#ffffff;
}

body {
    background-color: #cccccc;
}

#about-me {
    color:#4aaaa5;
}